<template>
  <div class="q-pa-md">
    <q-table
      :rows="items"
      :columns="columns"
      :visible-columns="visibleColumns"
      row-key="id"
      no-data-label="Không có dữ liệu"
      no-results-label="Không có dữ liệu"
      selection="multiple"
      v-model:selected="selected"
      :pagination="pagination"
      style="max-height: calc(100vh - 156px)"
      :hide-pagination="true"
      :loading="loading"
      table-style="border-top: 0.5px solid #eee; "
    >
      <template v-slot:loading>
        <common-loading :is-loading="true" />
        <skeleton-table />
      </template>
      <template v-slot:top>
        <div class="column col-grow">
          <div class="row wrap justify-between q-mt-md">
            <q-input
              v-model="fieldFilter.search"
              debounce="500"
              outlined
              placeholder="Search đi..."
              @keyup.enter="getItems"
              dense
            />
            <q-btn icon="search" @click="getItems" class="q-ml-sm" />
            <q-btn
              text-color="green-10"
              icon="add"
              style="margin-left: auto; margin-right: 12px"
            />
            <DropdownMenu
              :visibleColumns="visibleColumns"
              :columns="columns"
              @change-visible="onChangeVisible"
            />
          </div>
        </div>
      </template>
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th>
            <q-checkbox
              v-if="items.length"
              v-model="props.selected"
              dense
              size="sm"
            />
          </q-th>
          <q-th v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.label }}
          </q-th>
          <q-th style="background-color: white; z-index: 3"> Tùy chọn </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr v-if="!loading" :props="props" class="order-detail__row">
          <q-td class="text-center">
            <q-checkbox v-model="props.selected" dense size="sm" />
          </q-td>
          <q-td v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.value }}
          </q-td>
          <q-td class="text-center">
            <BtnOption
              color="green"
              icon="info"
              @click="handleOnRowClick(props)"
              :data="props.row"
            />
            <BtnOption
              :color="props.row.is_synced === 1 ? 'green-10' : 'red'"
              icon="sync"
              :api="model"
              :spin="true"
              :data="props.row"
            />
            <BtnOption
              icon="delete"
              :api="model"
              :confirmDlg="true"
              :onClick="deleteItem"
              :data="props.row"
              color="red-8"
            />
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <q-dialog v-model="isOpenDetailModal" position="right" maximized>
      <q-card class="column no-wrap">
        <ClassroomDetail :data="formData" />
      </q-card>
    </q-dialog>

    <CustomPagination
      :pagination="pagination"
      :status="fieldFilter.status"
      :search="fieldFilter.search"
      :api="model"
      :setLoading="setLoading"
      @change-page="onChangePage"
    />
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import CommonLoading from "src/components/CommonLoading.vue";
import api from "src/common/api.constant";
import baseComponent from "src/components/BaseComponent";
import { formatDateTime } from "src/common/formatter";
import { ref, onMounted, computed, watch } from "vue";
import { useRouter } from "vue-router";
import ClassroomDetail from "src/pages/classroom/components/ClassroomDetail.vue";
import DropdownMenu from "src/pages/classroom/components/DropdownMenu.vue";
import BtnOption from "src/pages/classroom/components/ButtonOption.vue";
import CustomPagination from "src/components/paginations/CustomPagination.vue";
import SkeletonTable from "src/components/skeleton/SkeletonTable.vue";

export default defineComponent({
  name: "ClassroomPage",
  extends: baseComponent,
  components: {
    DropdownMenu,
    SkeletonTable,
    BtnOption,
    CustomPagination,
    ClassroomDetail,
  },
  data() {
    return {
      model: api.CLASSROOM_LIST,
      columns: <any>[
        {
          name: "id",
          label: "ID",
          field: "id",
        },
        {
          name: "name",
          required: true,
          label: "Tên phòng học",
          field: "name",
          align: "left",
          sortable: true,
        },
        {
          name: "department",
          required: true,
          label: "Vị trí",
          field: "department",
          align: "left",
          sortable: true,
        },
        {
          name: "creator",
          label: "Người tạo",
          field: "creator",
          align: "left",
          sortable: true,
        },
        {
          name: "updater",
          label: "Người chỉnh sửa",
          field: "updater",
          align: "left",
          sortable: true,
        },
        {
          name: "updatedTime",
          align: "left",
          label: "Chỉnh sửa lần cuối",
          field: "updatedTime",
          format: (val: string) => formatDateTime(val),
          sortable: true,
        },
        {
          name: "createdTime",
          align: "left",
          label: "Thời gian tạo",
          field: "createdTime",
          format: (val: string) => formatDateTime(val),
          sortable: true,
        },
      ],
      visibleColumns: [
        "name",
        "createdTime",
        "updatedTime",
        "department",
        "creator",
        "updater",
        "department",
      ],
      selected: [],
      formData: {},
      isOpenDetailModal: false,
    };
  },
  methods: {
    handleOnRowClick(props: any) {
      this.isOpenDetailModal = true;
      this.formData = props.row;
    },
    onChangeVisible(val: any) {
      this.visibleColumns = val[0];
    },
  },
});
</script>

<style scoped>
.q-table thead tr:first-child th {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
}
.order-detail__row {
  cursor: pointer;
}

.q-table thead th:nth-child(3),
.q-table tbody td:nth-child(3) {
  border-right: 1px solid #eee;
}

.q-table thead th:last-child,
.q-table tbody td:last-child {
  position: sticky;
  right: 0;
  z-index: 2;
  background-color: white;
}

.form__status-chip {
  display: flex;
  margin: auto;
  width: 90px;
}

.status__filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}

.status__filter-wrapper > * {
  /* width: 20px; */
  margin: 8px;
}

.status__filter-wrapper > *:last-child {
  margin-right: 0;
}

.loading-btn[aria-hidden="true"] {
  -webkit-animation: spin 0.6s linear infinite;
  animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
</style>
