<template>
  <q-markup-table>
    <thead>
      <tr>
        <th class="text-left">
          <q-skeleton animation="blink" type="text" width="25px" />
        </th>
        <th class="text-left">
          <q-skeleton animation="blink" type="text" />
        </th>
        <th class="text-left">
          <q-skeleton animation="blink" type="text" />
        </th>
        <th class="text-left">
          <q-skeleton animation="blink" type="text" />
        </th>
        <th class="text-left">
          <q-skeleton animation="blink" type="text" />
        </th>
        <th class="text-left">
          <q-skeleton animation="blink" type="text" />
        </th>
        <th class="text-left">
          <q-skeleton animation="blink" type="text" />
        </th>
        <th class="text-left">
          <q-skeleton animation="blink" type="text" />
        </th>
        <th class="text-left">
          <q-skeleton animation="blink" type="text" />
        </th>
        <th class="text-left">
          <q-skeleton animation="blink" type="text" />
        </th>
        <th class="text-left">
          <q-skeleton animation="blink" type="text" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="n in 50" :key="n">
        <td class="text-left">
          <q-skeleton animation="blink" type="text" width="15px" />
        </td>
        <td class="text-left">
          <q-skeleton animation="blink" type="text" width="50px" />
        </td>
        <td class="text-left">
          <q-skeleton animation="blink" type="text" width="50px" />
        </td>
        <td class="text-left">
          <q-skeleton animation="blink" type="text" width="100px" />
        </td>
        <td class="text-left">
          <q-skeleton animation="blink" type="text" width="50px" />
        </td>
        <td class="text-left">
          <q-skeleton animation="blink" type="text" width="100px" />
        </td>
        <td class="text-left">
          <q-skeleton animation="blink" type="text" width="50px" />
        </td>
        <td class="text-left">
          <q-skeleton animation="blink" type="text" width="100px" />
        </td>
        <td class="text-left">
          <q-skeleton animation="blink" type="text" width="50px" />
        </td>
        <td class="text-left">
          <q-skeleton animation="blink" type="text" width="50px" />
        </td>
        <td class="text-left">
          <q-skeleton animation="blink" type="text" width="50px" />
        </td>
      </tr>
    </tbody>
  </q-markup-table>
</template>
<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "SkeletonTable",
});
</script>
