<script lang="ts">
import { defineComponent } from "vue";
import { ref } from "vue";
import validateMixins from "src/common/validateMixins";
import { login } from "src/services/auth";
import { mapStores } from "pinia";
import { RES_STATUS } from "src/common/common.constant";
import { useAuth } from "src/stores/auth";

export default defineComponent({
  mixins: [validateMixins],
  data() {
    return {
      email: "",
      password: "",
    };
  },
  computed: {
    ...mapStores(useAuth),
  },
  methods: {
    async onSubmit() {
      // display form values on success
      try {
        const res = await login({ email: this.email, password: this.password });
        if (res?.status === RES_STATUS?.SUCCESS) {
          await this.authStore.loginSuccess(res?.data);
          this.$router.push("/");
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
});
</script>

<template>
  <q-layout>
    <q-page-container>
      <q-page class="flex bg-image flex-center">
        <q-card
          v-bind:style="$q.screen.lt.sm ? { width: '80%' } : { width: '30%' }"
        >
          <q-card-section>
            <q-avatar size="103px" class="absolute-center shadow-10">
              <img src="profile.svg" />
            </q-avatar>
          </q-card-section>
          <q-card-section>
            <div class="text-center q-pt-lg">
              <div class="col text-h6 ellipsis">Log in</div>
            </div>
          </q-card-section>
          <q-card-section>
            <q-form class="q-gutter-md" @submit="onSubmit">
              <q-input
                :rules="[requiredRule]"
                filled
                v-model="email"
                label="Username"
                lazy-rules
              />

              <q-input
                :rules="[requiredRule]"
                type="password"
                filled
                v-model="password"
                label="Password"
                lazy-rules
              />

              <div>
                <q-btn label="Login" color="primary" type="submit" />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<style>
.bg-image {
  background-image: linear-gradient(135deg, #7028e4 0%, #e5b2ca 100%);
}
</style>
