<template>
  <q-inner-loading
    class="m-common-loading"
    :showing="isLoading"
    color="secondary"
    label="Chờ tí..."
    label-class="text-teal"
    label-style="font-size: 1.1em"
  />
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "CommonLoading",
  props: ["isLoading"],
});
</script>
<style lang="scss" scoped>
.m-common-loading {
  z-index: 999;
}
</style>
>
