<template>
  <q-btn-dropdown
    round
    size="sm"
    outline
    flat
    :loading="loading"
    style="transition: ease-in-out"
    :color="props.color"
    :dropdown-icon="props.icon"
    padding="6px"
    rounded
    no-icon-animation
    no-caps
    v-if="props.confirmDlg"
  >
    <div class="row no-wrap q-pa-md">
      <div class="column">
        <div class="text-h8 text-bold q-mb-md">
          BẠN CÓ CHẮC MUỐN XÓA ĐƠN HÀNG NÀY ?
        </div>
        <div class="row btn-group justify-between">
          <q-btn
            outline
            color="negative"
            no-caps
            label="Có"
            @click="handleOnClick"
            v-close-popup
          ></q-btn>
          <q-btn outline no-caps label="Hủy" v-close-popup></q-btn>
        </div>
      </div>
    </div>
  </q-btn-dropdown>
  <q-btn
    v-else
    round
    size="sm"
    outline
    flat
    :loading="loading"
    style="transition: ease-in-out"
    :color="props.color"
    :icon="props.icon"
    @click="handleOnClick"
  >
    <template v-slot:loading v-if="props.spin">
      <q-icon :name="props.icon" class="loading-btn"></q-icon>
    </template>
  </q-btn>
</template>
<script lang="ts">
import { getModel } from "src/services/service.api";
import { defineComponent } from "vue";
export default defineComponent({
  name: "btnOption",
});
</script>
<script setup lang="ts">
import { defineProps, ref } from "vue";
const props = defineProps({
  api: String,
  icon: String,
  spin: { type: Boolean, default: false },
  confirmDlg: { type: Boolean, default: false },
  data: Object,
  color: String,
  onClick: Function,
});
const loading = ref<any>(false);
const handleOnClick = async () => {
  try {
    loading.value = true;
    props.onClick(props.data.id);
  } catch (e) {
    console.log(e);
  } finally {
    setTimeout(() => {
      loading.value = false;
    }, 700);
  }
};
</script>

<style scoped>
.loading-btn[aria-hidden="true"] {
  -webkit-animation: spin 0.6s linear infinite;
  animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
</style>
