<template>
  <div class="form-wrapper column no-wrap justify-between col-grow q-pb-lg">
    <common-loading :is-loading="loading" />
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { ref, onMounted, computed } from "vue";
import api from "src/common/api.constant";
import { mapStores } from "pinia";
import baseComponent from "src/components/BaseComponent";
import CommonLoading from "src/components/CommonLoading.vue";

export default defineComponent({
  name: "FormInvoice",
  extends: baseComponent,
  components: { CommonLoading },
  props: {
    data: Object,
  },
  data() {
    return {
      model: `${api.CURRENT_USER}/${this.data?.id}`,
    };
  },
});
</script>
