<template>
  <q-btn-dropdown flat dropdown-icon="menu" no-icon-animation>
    <div class="column no-wrap q-pa-md">
      <div class="q-gutter-sm">
        <section v-for="(col, index) in props?.columns" :key="index">
          <q-checkbox
            v-if="index > 0"
            v-model="selection"
            :val="col.name"
            :label="col.label"
            color="cyan"
          ></q-checkbox>
          <q-separator v-if="index == 2" horizontal></q-separator>
        </section>
        <q-btn
          color="white"
          text-color="black"
          label="Select All"
          flat
          @click="selectAll"
        ></q-btn>
      </div>
    </div>
  </q-btn-dropdown>
</template>
<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "DropDownMenu",
});
</script>
<script setup lang="ts">
import { ref, defineProps, watch, defineEmits } from "vue";
const props = defineProps({
  visibleColumns: Array,
  columns: Array,
});
const emit = defineEmits(["changeVisible"]);
const selection = ref(props.visibleColumns);
const options = ref(props.visibleColumns);

const selectAll = () => {
  selection.value = options?.value;
};

watch([() => selection?.value], (selection) => {
  emit("changeVisible", selection);
});
</script>

<style scoped></style>
