<template>
  <q-card-section>
    <div class="row justify-end" style="gap: 16px">
      <span class="q-mt-auto q-mb-auto">Rows per page</span>
      <q-select dense :options="options" v-model="pagination.rowsPerPage" />
      <q-pagination
        v-model="pagination.page"
        :min="1"
        :max="pagination.last_page"
        :input="true"
        input-class="text-orange-10"
      >
      </q-pagination>
    </div>
  </q-card-section>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { debounce, useQuasar } from "quasar";
export default defineComponent({
  name: "Pagination",
});
</script>
<script lang="ts" setup>
import { ref, onMounted, watch } from "vue";
import { getModel } from "src/services/service.api";
const emit = defineEmits(["changePage"]);
const props = defineProps({
  pagination: Object,
  api: String,
  status: Number,
  search: String,
  setLoading: Function,
});
const pagination = ref(props?.pagination);
watch(
  [() => pagination?.value.page, () => pagination?.value.rowsPerPage],
  debounce(async () => {
    try {
      props.setLoading(true);
      const res = await getModel(props?.api, {
        page: pagination.value.page,
        page_size: pagination.value.rowsPerPage,
        status: props.status,
        search: props.search,
      });
      emit("changePage", res.data.data);
    } catch (e) {
      console.log(e);
    } finally {
      props.setLoading(false);
    }
  }, 500)
);

watch(
  [() => props?.status],
  () => {
    pagination.value.page = 1;
  }
);
const options = ref([10, 30, 50]);
</script>

<style lang="scss" scoped></style>
